*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family:  Roboto, sans-serif;
    height: 500vh;
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(151deg, rgb(46, 46, 46) 0%, rgb(0, 0, 0) 100%);
    margin-top: 85px;
    color: white;
    padding: 5px;
}
section {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    text-align: center;
}